.section {
  margin-bottom: 40px;

  @media (max-width: 959px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  margin-bottom: 25px;
  font-size: 30px;
  color: #1e3f5f;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: 959px) {
    font-size: 24px;
  }
}

.content-container {
  padding: 0 19px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: -5.3px 8.5px 21px 0 rgba(208, 220, 229, 0.66);
  min-width: 100%;
  max-width: 100%;
}
