.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.title {
  max-width: 320px;
  margin-bottom: 31px;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 400;
  color: #1e3f5f;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 959px) {
    font-size: 24px;
  }
}

.description {
  margin-bottom: 73px;
  color: #1e3f5f;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 959px) {
    font-size: 24px;
  }
}

.loader {
  width: 217px;
  height: 217px;
  margin-bottom: 42px;

  @media (max-width: 959px) {
    width: 147px;
    height: 147px;
    margin-bottom: 30px;
  }
}

.button-container {
  margin-bottom: 30px;
}

.middle-text {
  margin-bottom: 30px;
  color: #1e3f5f;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 959px) {
    font-size: 24px;
  }
}
