.wrapper {
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 150px;
  margin-bottom: 57px;

  @media (max-width: 959px) {
    max-width: 100px;
  }
}

.buttons-block {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-bottom: 32px;

  & button {
    width: 100%;
  }
}

.error {
  text-align: center;
  color: #b72245;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}
